/* body {
    width: 100%;
    height: 100hv;
    background-color: hsl(0, 0, 94%);
    background-image: url("https://wallpapers.com/images/high/ganpati-hd-illustration-lvxo5jw7dur93sdq.webp"), url("https://wallpapers.com/images/high/ganpati-hd-gold-elements-skedakc0rrjs2us0.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: difference;
} */